header{
    text-align: center;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}
.col-sm-6{
    text-align: center;
}
.col-sm-4{
    text-align: center;
}
.col-sm{
    text-align: center;
}