<h1>Meet the Team!</h1>
<BR>
  <p>At Moderately Sober Studios, we all wear many hats. 
    Most of us have dipped a finger in the design, several of us
    have helped with the story, and all of us have had our input on the 
    user experience. But these are the jobs we trained for, and where
    the main of our expertise lies.
  </p>
<BR>
<h3 class="border border-dark">Art and Design</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <h5>Jonathan Hoekstra</h5>
      <img src="assets/AHHHHH.jpg" width=300px>
      <p>Here's some info about Jon</p>
      <p>Here's some info about Jon</p>
      <p>Here's some info about Jon</p>
      <p>Here's some info about Jon</p>
      <p>Here's some info about Jon</p>
    </div>
    <div class="col-sm-6 mx-auto">
      <h5>Andrew Karanikolis</h5>
      <img src="assets/AHHHHH.jpg" width=300px>
      <p>Here's some info about Andrew</p>
      <p>Here's some info about Andrew</p>
      <p>Here's some info about Andrew</p>
      <p>Here's some info about Andrew</p>
      <p>Here's some info about Andrew</p>
    </div>
  </div>
</div>
<h3 class="border border-dark">Narrative and Story</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <h5>Jake Herring</h5>
      <img src="assets/AHHHHH.jpg" width=300px>
      <p>Here's some info about Jake</p>
      <p>Here's some info about Jake</p>
      <p>Here's some info about Jake</p>
      <p>Here's some info about Jake</p>
      <p>Here's some info about Jake</p>
    </div>
  </div>
</div>
<h3 class="border border-dark">Programming and Systems</h3>
<div class="container">
  <div class="row">
    <div class="col-sm mx-auto">
      <h5>Jesse Lathey</h5>
      <img src="assets/AHHHHH.jpg" width=300px>
      <p>Here's some info about Jesse</p>
      <p>Here's some info about Jesse</p>
      <p>Here's some info about Jesse</p>
      <p>Here's some info about Jesse</p>
      <p>Here's some info about Jesse</p>
    </div>
    <div class="col-sm mx-auto">
      <h5>Noel Ortiz</h5>
      <img src="assets/AHHHHH.jpg" width=300px>
      <p>Here's some info about Noel</p>
      <p>Here's some info about Noel</p>
      <p>Here's some info about Noel</p>
      <p>Here's some info about Noel</p>
      <p>Here's some info about Noel</p>
    </div>
    <div class="col-sm mx-auto">
      <h5>Matthew Phillips</h5>
      <img src="assets/AHHHHH.jpg" width=300px>
      <p>Here's some info about Matthew</p>
      <p>Here's some info about Matthew</p>
      <p>Here's some info about Matthew</p>
      <p>Here's some info about Matthew</p>
      <p>Here's some info about Matthew</p>
    </div>
  </div>
</div>
<h3 class="border border-dark">Business and Marketing</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <h5>Bryan Foreman</h5>
      <img src="assets/AHHHHH.jpg" width=300px>
      <p>Here's some info about Bryan</p>
      <p>Here's some info about Bryan</p>
      <p>Here's some info about Bryan</p>
      <p>Here's some info about Bryan</p>
      <p>Here's some info about Bryan</p>
    </div>
  </div>
</div>